
body{
    width: 95%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: Helvetica, sans-serif;
    color: rgb(85, 73, 71);
    margin: auto;
    padding: auto;
    align-items: center;
}

button {
    width:250px;
    margin: 4%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 21px;
    padding:10px;
    border-radius: 50px;
    border: 1.5px solid rgb(100, 93, 93);
    background-color:rgb(59, 134, 184);
    font-weight:300;
    font-family: Helvetica, sans-serif;
    color:white;
    text-align:center;
    text-decoration: none;
    letter-spacing: .1rem;
}

button:hover{
    background-color: rgb(41, 93, 128);
    border: 1.8px solid rgb(100, 93, 93);
}
